forgotpassword.xsd


 <?xml version="1.0"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name ="Login">
<xs:complexType>
<xs:sequence>
<xs:element name="<Enteryourregisteredemailaddresstoresetyourpassword>" type="xs:string"></xs:element>
<xs:element name="Enternewpassword" type="xs:string"></xs:element>
<xs:element name="Confirmpassword" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

</xs:schema>

